<div class="container">
      <div class="p-3">
        <h4>LISTE DES MINISTRES</h4>
        <div class="d-flex justify-content-end mb-3">
          <a [routerLink]="'/main/ministre-new'" class="btn btn-success">
            <em class="fas fa-plus"></em>&nbsp;Nouveau ministre
          </a>
        </div>

        <div class="card p-3">

          <div class="my-3 mx-2">
            Entrée par Page:
            <select (change)="handlePageSizeChange($event)">
              <option *ngFor="let size of pageSizes" [ngValue]="size">
                {{ size }}
              </option>
            </select>
          </div>

          <table class="table table-bordered mb-0">
            <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prénoms</th>
              <th scope="col">Date Prise Fonction</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr
                *ngFor="let ministre of ministres | paginate:{
                            currentPage: page,
                          totalItems: count,
                          itemsPerPage: pageSize
              };
               let i = index
             ">
              <th>{{ministre.civilite}} {{ministre.nom}}</th>
              <td>{{ministre.prenoms}}</td>
              <td>{{ministre.datePriseFonction | date:'MM/dd/yyyy'}}</td>
              <td class="cursor-pointer">

                <em (click)="update(ministre.id)" class="ri-ball-pen-fill text-primary fs-5"></em>
                &nbsp;&nbsp;
                <em (click)="ministreIdToDelete = ministre.id" class="ri-delete-bin-7-fill text-danger fs-5" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"></em>
              </td>
            </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-end mt-3 mx-2">
            <pagination-controls
              previousLabel="Prev"
              [directionLinks]="true"
              nextLabel="Next"
              [responsive]="true"
              (pageChange)="handlePageChange($event)"
            ></pagination-controls>
          </div>

      </div>

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
           aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Confirm!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Voulez-vous vraiment supprimer cette donnée?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-link" (click)="ministreIdToDelete = -1" data-bs-dismiss="modal">
                <em class="fas fa-times"></em>&nbsp;Annuler
              </button>
              <button (click)="delete()" type="button" class="btn btn-danger" data-bs-dismiss="modal">
                <em class="fas fa-trash"></em>&nbsp;Supprimer
              </button>
            </div>
          </div>
        </div>
      </div>

</div>
</div>
