<div class="card info-card" [ngClass]="inputLightInfo.infoStyle || 'bg-primary'">

  <div class="card-body">
    <h5 class="card-title"><span>{{inputLightInfo.title}}</span></h5>

    <div class="d-flex align-items-center">
      <!--<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
        <i class="bi bi-cart"></i>
      </div>-->
      <div class="ps-3">
        <h6>{{inputLightInfo.value}}</h6>
        <!-- <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

      </div>
    </div>
  </div>

</div>
