<ul class="d-flex align-items-center">

  <li class="nav-item dropdown pe-3">

    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
      <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
      <span class="d-none d-md-block dropdown-toggle ps-2">{{nomEtPrenoms}}</span>
    </a><!-- End Profile Iamge Icon -->

    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
      <li class="dropdown-header">
        <h6>{{nomEtPrenoms | uppercase}}</h6>
        <!--<span>Fonction</span>-->
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>

      <li>
        <a class="dropdown-item d-flex align-items-center"  routerLink="/main/user-profile">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>

      <li>
        <a class="dropdown-item d-flex align-items-center" (click)="logout()" routerLink="/login">
          <i class="bi bi-box-arrow-right"></i>
          <span>Se Deconnecter</span>
        </a>
      </li>

    </ul><!-- End Profile Dropdown Items -->
  </li><!-- End Profile Nav -->

</ul>
