<div class="container">
         <div>
           <h4 class="mb-3">NOUVEL UTILISATEUR</h4>
           <div class="alert alert-danger" role="alert" *ngIf="errorMessages.length">
             <p *ngFor="let msg of errorMessages">{{msg}}</p>
           </div>
         </div>
        <div  class="card p-3">

          <!-- Multi Columns Form -->
          <div  class="row">
            <div class="col-md-6">
              <label for="nom" class="form-label">Nom</label>
              <input type="text" [(ngModel)]="userDto.nom" class="form-control" id="nom">
            </div>

            <div class="col-md-6">
              <label for="prenoms" class="form-label">Prénoms</label>
              <input type="text" [(ngModel)]="userDto.prenoms" class="form-control" id="prenoms">
            </div>

            </div>

             <div  class="row">
            <div class="col-md-6">
              <label for="email" class="form-label">Email</label>
              <input type="email" [(ngModel)]="userDto.email" class="form-control" id="email">
            </div>
            <div class="col-md-6">
              <label for="motDePasse" class="form-label">Mot de Passe</label>
              <input type="password" [(ngModel)]="userDto.motDePasse" class="form-control" id="motDePasse">
            </div>
            </div>

          <div  class="row">
            <div class="col-lg-12">
              <label for="roleId" class="form-label">Role</label>
              <select id="roleId" class="form-select" [(ngModel)]="userDto.roleId">
                <option selected [value]="0">Liste des roles...</option>
                <option *ngFor="let role of roles" [value]="role.id">{{role.role}}</option>
              </select>
            </div>
            </div>

              <div class="d-flex justify-content-end mt-3">
                <a routerLink="/admin/user-list" type="button" class="btn btn-link">
                  <em class="fas fa-times"></em>&nbsp;Liste des utilisateurs
                </a>
                <button (click)="register()" type="button" class="btn btn-danger">
                  <em class="fas fa-save"></em>&nbsp;Enregistrer
                </button>
              </div>
        </div>

</div>

